@font-face {
    font-family: "ClashGrotesk";
    src: url("./fonts/ClashGrotesk-Regular.ttf");
}

@font-face {
    font-family: "Caveat";
    src: url("./fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "IndieFlower";
    src: url("./fonts/IndieFlower-Regular.ttf");
}

h1 {
    font-family: "IndieFlower";
}

html {
    text-align: center;
    height: auto;
}

/* body {
    background-image: url("./images/paper.jpg");
    background-color: none;
} */

.card {
    height: auto;
    margin: auto;
    width: 35%;
}

.main{
    width: 70%;
}

.taipy-button, .taipy-input, .taipy-file-selector {
    margin-left: 10px;
    width: 155px;
}

.taipy-image {
    position: absolute;
    right: 15px;
    bottom: 0px;    
}